Semester 4/Course Assignment/C# code/FacilityClient/FacilityClient/Connected Services/ServiceReference1/LocalServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://DefaultNamespace" targetNamespace="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://DefaultNamespace">
      <xsd:element name="registerCar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="vin" type="xsd:string" />
            <xsd:element name="model" type="xsd:string" />
            <xsd:element name="make" type="xsd:string" />
            <xsd:element name="year" type="xsd:int" />
            <xsd:element name="weight" type="xsd:double" />
            <xsd:element name="parts" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registerCarResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="registerCarReturn" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="trackPart">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="carVin" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="trackPartResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="trackPartReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="trackPartRequest">
    <wsdl:part name="parameters" element="impl:trackPart" />
  </wsdl:message>
  <wsdl:message name="registerCarRequest">
    <wsdl:part name="parameters" element="impl:registerCar" />
  </wsdl:message>
  <wsdl:message name="registerCarResponse">
    <wsdl:part name="parameters" element="impl:registerCarResponse" />
  </wsdl:message>
  <wsdl:message name="trackPartResponse">
    <wsdl:part name="parameters" element="impl:trackPartResponse" />
  </wsdl:message>
  <wsdl:portType name="LocalServer">
    <wsdl:operation name="registerCar">
      <wsdl:input name="registerCarRequest" message="impl:registerCarRequest" />
      <wsdl:output name="registerCarResponse" message="impl:registerCarResponse" />
    </wsdl:operation>
    <wsdl:operation name="trackPart">
      <wsdl:input name="trackPartRequest" message="impl:trackPartRequest" />
      <wsdl:output name="trackPartResponse" message="impl:trackPartResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LocalServerSoapBinding" type="impl:LocalServer">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registerCar">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="registerCarRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="registerCarResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="trackPart">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="trackPartRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="trackPartResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocalServerService">
    <wsdl:port name="LocalServer" binding="impl:LocalServerSoapBinding">
      <wsdlsoap:address location="http://localhost:8080/Course_Assignment/services/LocalServer" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>